<template>
   <div>
      <form v-on:submit.prevent>
         <div class="row">
            <div class="col-md-7">    
               <div class="card">
                 <div class="card-body">
                   <div v-if="isActiveTab(1)">
                    <h5 class="card-title">Step <b>1</b>/<span class="small">3</span> TYPE OF WORK AND DEADLINE</h5>
                    <hr>
                  <div class="form-group">
                     <label>Service Type</label>
                     <multiselect
                        track-by="id" label="name"
                        v-model="service_model" :options="services" @input="serviceChanged()"></multiselect>
                  </div>
                  <div class="form-group">
                     <label>Work Level</label>
                     <div>
                        <div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
                           <label class="btn btn-outline-primary" v-on:click="workLevelChanged(row.id, index)"
                              :class="form.work_level_id === Number(row.id) ? 'active': ''" 
                              v-for="(row,index) in levels" :key="index">
                           <input type="radio"
                              class="btn-group-toggle"                 
                              :id="'gender_' + index"
                              :value="row.id"                     
                              autocomplete="off"
                              v-model="form.work_level_id">
                           {{ row.name }}
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-4">
                        <label>Number of pages</label>
                        <div class="input-group mb-3">
                           <div class="input-group-prepend">
                              <button type="button" class="btn btn-outline-secondary" v-on:click="changePageNumber(-1)">-</button>
                           </div>
                           <input type="text" class="form-control text-center" aria-describedby="basic-addon1" v-model="form.number_of_pages">
                           <div class="input-group-append">
                              <div class="input-group-prepend">
                                 <button type="button" class="btn btn-outline-secondary" v-on:click="changePageNumber(1)">+</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group col-md-8">
                        <label>
                          Spacing
                          <span data-toggle="tooltip" title="Single-spaced - The final paper will have one line spacing between lines."><i class="fas fa-question-circle"></i></span>
                        </label>               
                        <div>
                           <div class="btn-group btn-group-toggle" data-toggle="buttons">
                              <label class="btn btn-outline-pink" 
                                 v-on:click="spacingTypeChanged(row.id, row.price)"
                                 :class="form.spacing_type === Number(row.id) ? 'active': ''" 
                                 v-for="row in spacings" :key="row.id">
                              <input type="radio"
                                 class="btn-group-toggle"                 
                                 :id="'spacing_' + row.id"
                                 :value="row.id"                     
                                 autocomplete="off"
                                 v-model="form.spacing_type">
                              {{ row.name }}
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Urgency</label>
                     <multiselect
                        track-by="id" label="name"
                        v-model="urgency_model" :options="urgencies" @input="urgencyChanged()"></multiselect>
                  </div>
                  <h5>Additional Services</h5>
                  <div class="card mb-3" v-for="row in additional_services">
                     <div class="row no-gutters">
                        <div class="col-md-8">
                           <div class="card-body">
                              <h5 class="card-title">{{ row.name }}</h5>
                              <p class="card-text">{{ row.description }}</p>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="d-flex justify-content-center" style="margin-top: 40px;">
                              <a href="#" v-on:click.prevent="additionalServiceChanged(row.id, row)">
                                 <div class="btn btn-block"
                                    v-bind:class="getServiceContainerClass(row.id)"
                                    >
                                    <span v-if="addedServiceList(row.id)"><i class="fas fa-check-circle"></i> Added</span> 
                                    <span v-else><i class="fas fa-plus"></i> Add</span>
                                    {{ row.rate | formatMoney }}
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div v-if="user_id">
                    <button type="button" class="btn btn-success btn-lg btn-block" v-on:click.prevent="changeTab(2)">
                      <i class="fas fa-check-circle"></i> Next</button>
                  </div>
                  <div v-else>
                      <button type="button" class="btn btn-success btn-lg btn-block" v-on:click.prevent="changeTab(2)">
                        <i class="fas fa-sign-in-alt"></i> Sign in to place your order
                      </button>
                    
                      <a :href="create_account_url" class="btn btn btn-info btn-lg btn-block">
                        <i class="fas fa-user-plus"></i> Create account
                      </a>
                  </div>

               </div>




               <!-- Tab 2 Starts -->
               <div v-if="isActiveTab(2)">
                <h5 class="card-title">Step <b>2</b>/<span class="small">3</span> ADDITIONAL PAPER DETAILS</h5>
                    <hr>

                  <div class="form-group">
                     <label>Title</label>
                     <input type="text" class="form-control" v-model="form.title">               
                     <div class="invalid-feedback d-block" v-if="errors.title">
                     {{ errors.title[0] }}
                    </div>
                  </div>
                  <div class="form-group">
                     <label>Specific Instructions</label>    
                     <textarea class="form-control" v-model="form.instruction" placeholder="E.g., preferred paper structure, outline, grading scale, or any particular work focus."></textarea>
                      <div class="invalid-feedback d-block" v-if="errors.instruction">
                     {{ errors.instruction[0] }}
                    </div>
                  </div>
                  <!--Upload files -->
                  <VueFileAgent
                     ref="vueFileAgent"
                     :theme="'list'"
                     :multiple="true"
                     :deletable="true"
                     :meta="true"
                     :accept="'application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*'"
                     :maxSize="'10MB'"
                     :maxFiles="2"
                     :helpText="'Choose your files'"
                     :errorText="{
                     type: 'Invalid file type. Only images, .pdf, .doc Allowed',
                     size: 'Files should not exceed 10MB in size',
                     }"
                     @select="filesSelected($event)"
                     @delete="fileDeleted($event)"
                     v-model="form.files_data"
                     ></VueFileAgent>
                  <!--  <button :disabled="!filesDataForUpload.length" @click="uploadFiles($event)">
                     Upload {{ filesDataForUpload.length }} files
                     </button> -->
                  <br>
                  <a href="#" v-on:click.prevent="changeTab(1)">Previous</a>
                  <br><br>
                  <a href="#" class="btn btn-success btn-lg btn-block" v-on:click.prevent="submitForm()"><i class="fas fa-shopping-cart"></i> Checkout</a>
                  <!-- -->
               </div>
               <!-- Tab 2 Ends -->
                 </div>
               </div>
            </div>
            <div class="offset-md-1 col-md-4">

              <div class="sticky-top">
                <div class="card">
                  <div class="card-body">
                            
                      <h5 class="card-title">Order Summary</h5>

                      <div class="mb-4">
                        <p>
                          <b>Service</b><br>
                          {{ service_model.name }}<br>
                          <small class="form-text text-muted">{{ work_level_model.name }} (Work level)</small>
                        </p>                  
                        <div>
                          <b>Urgency</b>:
                          {{ urgency_model.name }}
                        </div>
                        <div>
                          <b>Spacing Type</b>:
                         {{ form.spacing_type }}
                        </div>
                        <div>
                          <b>Pages</b>:
                          {{ form.number_of_pages }}, <b>Rate</b>:
                          {{ calculated_base_price | formatMoney }}
                        </div>
                        
                      </div>
                      <table class="table table-sm">
                      <tbody>
                         <tr>
                            <th scope="row" style="width: 30%">Price</th>
                            <td style="width: 70%" class="text-right">{{ price_before_additional_services | formatMoney }}</td>
                         </tr>                                              
                         <tr v-if="form.added_services.length > 0 ">
                            <td colspan="2">
                              <div>
                                  <div style="font-weight: bold;">Additional Services</div>
                                  <div class="row" v-for="row in form.added_services">
                                    <div class="col-md-6">
                                    <div style="padding-left: 10px;">{{ row.name }}</div>
                                    </div>
                                    <div class="col-md-6 text-right">{{ row.rate | formatMoney }}</div> 
                                  </div>
                              </div>
                            </td>

                            
                         </tr>
                         <tr>
                            <th scope="row" style="width: 30%">Total</th>
                            <td style="width: 80%" class="text-right">{{ calculateTotal }}</td>
                         </tr>
                      </tbody>
                   </table>
                  </div>
               </div>
             </div>
            </div>
         </div>
      </form>
   </div>
</template>

<script>

import Multiselect from 'vue-multiselect';



   export default {
   	components: { 
   		Multiselect   		
   		
   	}, 
   	props: {
      services: {          
          default: {}          
      },
      levels: {          
         type: Array,
         default() {
            return {}
        }          
      },
      urgencies: {          
         type: Array,
         default() {
            return {}
        }          
      }      ,
      spacings: {          
         type: Array,
         default() {
            return {}
        }          
      },
       additional_services: {          
         type: Array,
         default() {
            return {}
        }          
      },
      user_id: {          
         type: [Boolean, Number],
         default() {
            return null
        }          
      },
      restricted_order_page_url: {          
         type: String,
         default() {
            return null
        }          
      },
      upload_attachment_url: {          
         type: String,
         default() {
            return null
        }          
      },
      create_account_url: {          
         type: String,
         default() {
            return null
        }          
      },
      add_to_cart: {          
         type: String,
         default() {
            return null
        }          
      }
      
      
  },  

  filters: {
            formatMoney: function(value) {

               return  accounting.formatMoney(value, currencyConfig.currency);
                      
            }
        },

    data () {
      return {
      	activeTab: 1,
        service_model: (this.services) ? this.services[0] : {} ,
        urgency_model: (this.urgencies) ? this.urgencies[0] : {} ,   
        work_level_model: (this.levels) ? this.levels[0] : {} ,        
        form : {
        	title : "",
        	instruction : "",
        	service_id : (this.services) ? this.services[0].id :'',
        	work_level_id : 1,
        	work_level_percentage_to_add : (this.levels) ? this.levels[0].percentage_to_add : 0 ,  
        	number_of_pages: 1,
        	spacing_type: 'double',
        	base_price: (this.services) ? this.services[0].double_spacing_price : 0,
        	urgency_id : (this.urgencies) ? this.urgencies[0].id : "",
        	urgency : (this.urgencies) ? this.urgencies[0].date : "",
        	urgency_percentage_to_add : (this.urgencies) ? this.urgencies[0].percentage_to_add : 0,
        	added_services : [],
        	files_data: [], 
        },
        
        uploadUrl: this.upload_attachment_url,
        uploadHeaders: { 
        	'X-Test-Header': 'vue-file-agent', 
        	'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content 
        },
        filesDataForUpload: [],
        calculated_base_price:0,
        price_before_additional_services:0,
        errors: []

        
       
      }
    },
    computed: {
	  classObject: function () {
	    return {	     
	      'text-danger': this.error && this.error.type === 'fatal'
	    }
	  },
	  calculateTotal : function (){
      	
	  	var base_price = parseFloat(this.form.base_price);
      	var work_level_cost    = (base_price * parseFloat(this.form.work_level_percentage_to_add)) / 100;

        var urgency_cost       = (base_price * parseFloat(this.form.urgency_percentage_to_add)) / 100;

        this.calculated_base_price = (base_price + work_level_cost + urgency_cost).toFixed(2) ;

        var sub_total = this.calculated_base_price * parseInt(this.form.number_of_pages);
        
        this.price_before_additional_services = sub_total;

        let additional_services_cost = _.sumBy(this.form.added_services, function (row) {
 
	        return  parseFloat(row.rate);
	 
	    });
        
        return this.formatMoneyFromNumber(sub_total + additional_services_cost);
       


      }
     
	},
    methods: {
      formatMoneyFromNumber($amount){
        return accounting.formatMoney($amount, currencyConfig.currency);
      },
    	updateBasePrice(){
    		if(this.form.spacing_type == 'double')
			{
				this.form.base_price = this.service_model.double_spacing_price;	
			}
			else
			{
				this.form.base_price = this.service_model.single_spacing_price;	
			}
    	},
    	serviceChanged(){

    		if(this.service_model)
    		{
				this.form.service_id = this.service_model.id;
				this.updateBasePrice();			
    		}
    		else
    		{
				this.form.service_id = null;
    		}

    	},
    	workLevelChanged(work_level_id, index){ 
    		
    		this.work_level_model = this.levels[index];   	
    		this.form.work_level_id = work_level_id;
    		this.form.work_level_percentage_to_add = this.work_level_model.percentage_to_add ;

    	},
    	spacingTypeChanged(type, price){    	
    		this.form.spacing_type = type;
    		this.updateBasePrice();		
    	},
    	urgencyChanged(){
    		this.form.urgency = this.urgency_model.date;
    		this.form.urgency_percentage_to_add = this.urgency_model.percentage_to_add;
    		this.form.urgency_id = this.urgency_model.id;
    	},    	
    	changePageNumber(changeByValue){    		

    		if(this.form.number_of_pages == 0 && changeByValue < 1)
    		{
    			return false;
    		}

			this.form.number_of_pages = this.form.number_of_pages + changeByValue;
    	},      
    	changeTab(tabNumber){
    		
    		if(tabNumber == 2 && !this.user_id)
    		{
    			window.location = this.restricted_order_page_url;
    			return false;
    		}

    		this.activeTab = tabNumber;        

        this.$nextTick(() => {               
          window.scrollTo(0,0);  
        });

    	},
    	 isActiveTab: function (tab) {
	      // `this` points to the vm instance
	      return (this.activeTab == tab);
	    },
	    additionalServiceChanged(id, additionalService){
	    	var isAlreadyInList = this.addedServiceList(id);

	    	if(isAlreadyInList)
	    	{	    	
	    		this.form.added_services.splice(isAlreadyInList.key, 1);
	    	}
	    	else
	    	{	
	    		this.form.added_services.push(additionalService);	
	    	}
	    	
	    },
	    addedServiceList(id){
	    	var status = false;
	    	
	    	$.each(this.form.added_services, function(key, row) {
		    	
		    	if(row.id == id) 
		    	{		    	
		    		return status = { 'key' : key };		    		
		    	}
		   });

	    	return status;
	    },
	    getServiceContainerClass(additionalServiceId){
	    	return {

	            'btn-orange': this.addedServiceList(additionalServiceId),  
	            'btn-outline-orange': !this.addedServiceList(additionalServiceId)
    		}
	    },
	    uploadFiles: function() {	    
	    	
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.upload(this.uploadUrl, this.uploadHeaders, this.filesDataForUpload);
        this.filesDataForUpload = [];
      },
      deleteUploadedFile: function(fileData) {
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.deleteUpload(this.uploadUrl, this.uploadHeaders, fileData);
      },
      filesSelected: function(filesDataNewlySelected) {

        var validFilesData = filesDataNewlySelected.filter((fileData) => !fileData.error);
        this.filesDataForUpload = this.filesDataForUpload.concat(validFilesData);
        this.uploadFiles();
      },
      fileDeleted: function(fileData) {
        var i = this.filesDataForUpload.indexOf(fileData);
        if (i !== -1) {
          this.filesDataForUpload.splice(i, 1);
        } else {
          this.deleteUploadedFile(fileData);
        }
      },
      submitForm(){

        this.errors = [];
        var $scope = this;

      	axios.post(this.add_to_cart, this.form).then(function (response) {		    
        
  		  	if(response.data.redirect_url)
  		  	{
  		  		window.location.href = response.data.redirect_url;	
  		  	}
          else if(response.data.errors)
          {
            $scope.errors = response.data.errors;
          }
  		  	else
  		  	{
  		  		alert("Something went wrong");
  		  	}
		  	
	
		  })
		  .catch(function (error) {
          console.log(error);
		    	alert("Something went wrongs");
		  });

      }
	    

	}
  }
</script>

<style lang="scss" scoped>
@import '~vue-multiselect/dist/vue-multiselect.min.css';

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

input[type="number"]{
	-moz-appearance: textfield;
}
</style>
